{% extends 'base.html' %}
{% load static %}
{% block content%}
   <div class="wrapper">
      <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark">
               <a href="#">
                  <img class="block-center rounded" src="{% static 'img/reviewist_main-logo.png' %}" width="50%" alt="Image">
               </a>
            </div>
            <div class="card-body">
               <p class="text-center py-2">SIGN IN TO CONTINUE.</p>
               <form class="mb-3" id="loginForm" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                  <div class="form-group">
                     <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="username" type="text" placeholder="Username" name="login" autocomplete="off" required>
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-user"></em>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="password" type="password" placeholder="Password" name="password" required>
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-lock"></em>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox float-left mt-0">
                        <label>
                           <input type="checkbox" value="" name="remember">
                           <span class="fa fa-check"></span> Remember Me</label>
                     </div>
                     <div class="float-right">
                        <a class="text-muted" href="recover.html">Forgot your password?</a>
                     </div>
                  </div>               
                  <button class="btn btn-block btn-primary mt-3" type="submit">Login</button>
               </form>
               <p class="pt-3 text-center">Need to Signup?</p>
               <a class="btn btn-block btn-secondary" href="{% url 'account_signup' %}">Register Now</a>
            </div>
         </div>
         <!-- END card-->         
      </div>
   </div>

{% endblock %}