{% extends 'base.html' %}
{% load static %}
{% block content%}
   <div class="wrapper">
      <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark">
               <a href="#">
                  <img class="block-center" src="{% static 'img/reviewist_main-logo.png' %}" width="50%" alt="Image">
               </a>
            </div>
            <div class="card-body">
               <p class="text-center py-2">SIGNUP TO GET INSTANT ACCESS.</p>
               <form class="mb-3" id="registerForm" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}

                  <div class="form-group">
                     <label class="text-muted" for="username">Username</label>
                     <div class="input-group with-focus">
                        <input type="text" class="form-control" autofocus="autofocus" name="username" minlength="1" maxlength="150" required="" id="id_username" placeholder="Username">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-user"></em>
                           </span>
                        </div>                        
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="text-muted" for="signupInputEmail1">E-mail (Optional)</label>
                     <div class="input-group with-focus">
                        <input type="email" class="form-control"  name="email" placeholder="E-mail address" id="id_email">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-envelope"></em>
                           </span>
                        </div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="text-muted" for="signupInputPassword1">Password</label>
                     <div class="input-group with-focus">
                        <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Enter your password">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-lock"></em>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="text-muted" for="signupInputRePassword1">Retype Password</label>
                     <div class="input-group with-focus">
                        <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Enter your password">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-lock"></em>
                           </span>
                        </div>
                     </div>
                  </div>
                      <input type="hidden" name="{{ redirect_field_name }}" value="/subscribe/" />
                  <div class="checkbox c-checkbox mt-0">
                     <label>
                        <input type="checkbox" value="" required name="agreed">
                        <span class="fa fa-check"></span> I agree with the
                        <a class="ml-1" href="#">terms</a>
                     </label>
                  </div>
                  <button class="btn btn-block btn-primary mt-3" type="submit">Sign Up</button>
               </form>
               <p class="pt-3 text-center">Already have account?</p>
               <a class="btn btn-block btn-secondary" href="{% url 'login' %}">Login</a>
            </div>
         </div>
         <!-- END card-->         
      </div>
   </div>
{% endblock %}