{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <link rel="icon" type="image/x-icon" href="favicon.ico">
   <title>Angle - Bootstrap Admin Template</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css' %}">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
   <!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}">
   <!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="{% static 'vendor/whirl/dist/whirl.css' %}">
   <!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- WEATHER ICONS-->
   <link rel="stylesheet" href="{% static 'vendor/weather-icons/css/weather-icons.css' %}">
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
</head>

<body>
    {% block content %}
    

    {% endblock %}
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="{% static 'vendor/modernizr/modernizr.custom.js' %}"></script>
    <!-- JQUERY-->
    <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
    <!-- BOOTSTRAP-->
    <script src="{% static 'vendor/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <!-- STORAGE API-->
    <script src="{% static 'vendor/js-storage/js.storage.js' %}"></script>
    <script src="{% static 'vendor/parsleyjs/dist/parsley.js' %}"></script>
    <!-- JQUERY EASING-->
    <script src="{% static 'vendor/jquery.easing/jquery.easing.js' %}"></script>
    <!-- ANIMO-->
    <script src="{% static 'vendor/animo/animo.js' %}"></script>
    <!-- SCREENFULL-->
    <script src="{% static 'vendor/screenfull/dist/screenfull.js' %}"></script>
    <!-- LOCALIZE-->
    <script src="{% static 'vendor/jquery-localize/dist/jquery.localize.js' %}"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- SLIMSCROLL-->
    <script src="{% static 'vendor/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- SPARKLINE-->
    <script src="{% static 'vendor/jquery-sparkline/jquery.sparkline.js' %}"></script>
    <!-- FLOT CHART-->
    <script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'vendor/jquery.flot.spline/jquery.flot.spline.js' %}"></script>
    <!-- EASY PIE CHART-->
    <script src="{% static 'vendor/easy-pie-chart/dist/jquery.easypiechart.js' %}"></script>
    <!-- MOMENT JS-->
    <script src="{% static 'vendor/moment/min/moment-with-locales.js' %}"></script>
    <!-- =============== APP SCRIPTS ===============-->
    <script src="{% static 'js/app.js' %}"></script>   
</body>

</html>   