{% extends 'base.html' %} 
{% load static %} 
{% block content%}
<section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>Dashboard
                <small data-localize="dashboard.WELCOME"></small>
            </div>
            <!-- START Language list-->
            <div class="ml-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
                    <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                        <a class="dropdown-item" href="#" data-set-lang="en">English</a>
                        <a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
                    </div>
                </div>
            </div>
            <!-- END Language list-->
        </div>
        <!-- START cards box-->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- START card-->
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                        <em class="icon-cloud-upload fa-3x"></em>
                    </div>
                    <div class="col-8 py-3 bg-primary rounded-right">
                        <div class="h2 mt-0">1700</div>
                        <div class="text-uppercase">Uploads</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- START card-->
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                        <em class="icon-globe fa-3x"></em>
                    </div>
                    <div class="col-8 py-3 bg-purple rounded-right">
                        <div class="h2 mt-0">700
                            <small>GB</small>
                        </div>
                        <div class="text-uppercase">Quota</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <!-- START card-->
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                        <em class="icon-bubbles fa-3x"></em>
                    </div>
                    <div class="col-8 py-3 bg-green rounded-right">
                        <div class="h2 mt-0">500</div>
                        <div class="text-uppercase">Reviews</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <!-- START date widget-->
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
                        <div class="text-center">
                            <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                            <div class="text-sm" data-now="" data-format="MMMM"></div>
                            <br>
                            <div class="h2 mt-0" data-now="" data-format="D"></div>
                        </div>
                    </div>
                    <div class="col-8 py-3 rounded-right">
                        <div class="text-uppercase" data-now="" data-format="dddd"></div>
                        <br>
                        <div class="h2 mt-0" data-now="" data-format="h:mm"></div>
                        <div class="text-muted text-sm" data-now="" data-format="a"></div>
                    </div>
                </div>
                <!-- END date widget-->
            </div>
        </div>
        <!-- END cards box-->
        <div class="row">
            <!-- START dashboard main content-->
            <div class="col-xl-9">
                <!-- START chart-->
                <div class="row">
                    <div class="col-xl-12">
                        <!-- START card-->
                        <div class="card card-default card-demo" id="cardChart9">
                            <div class="card-header">
                                <a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh card">
                                    <em class="fas fa-sync"></em>
                                </a>
                                <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse card">
                                    <em class="fa fa-minus"></em>
                                </a>
                                <div class="card-title">
                                    <h2 class="d-inline-block mr-10">Google</h2>
                                    <div class="text-info d-inline-block">+25 in the last x Days</div>
                                </div>
                            </div>
                            <div class="card-wrapper collapse show">
                                <div class="card-body">
                                    <div class="google-star">
                                        <i class="star full-star"></i>
                                        <i class="star full-star"></i>
                                        <i class="star full-star"></i>
                                        <i class="star full-star"></i>
                                        <i class="star full-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card-->
                    </div>
                </div>
                <!-- END chart-->
                <div class="row">
                    <div class="col-xl-6">
                        <!-- START card-->

                        <div class="card card-default card-demo" id="cardChart9">
                            <div class="card-header">
                                <a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh card">
                                    <em class="fas fa-sync"></em>
                                </a>
                                <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse card">
                                    <em class="fa fa-minus"></em>
                                </a>
                                <div class="card-title">
                                    <h2 class="d-inline-block mr-10">Facebook</h2>
                                    <div class="text-info d-inline-block">+25 in the last x Days</div>
                                </div>
                            </div>
                            <div class="card-wrapper collapse show">
                                <div class="card-body">
                                    <div class="facebook-rating">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END card-->
                    </div>

                    <div class="col-xl-6">
                        <!-- START card-->

                        <div class="card card-default card-demo" id="cardChart9">
                            <div class="card-header">
                                <a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh card">
                                    <em class="fas fa-sync"></em>
                                </a>
                                <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse card">
                                    <em class="fa fa-minus"></em>
                                </a>
                                <div class="card-title">
                                    <h2 class="d-inline-block mr-10">Yelp</h2>
                                    <div class="text-info d-inline-block">+25 in the last x Days</div>
                                </div>
                            </div>
                            <div class="card-wrapper collapse show">
                                <div class="card-body">
                                    <div class="yelp-rating">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END card-->
                    </div>

                </div>

                <div class="card card-default">

                    <h4 class="m-h4">  <i class="far fa-envelope"></i> Sent Message 1</h4>
                </div>

                <div class="card card-default">

                    <h4 class="m-h4">  <i class="far fa-envelope"></i> Sent Message 2</h4>
                </div>

                <div class="card card-default">

                    <h4 class="m-h4">  <i class="far fa-envelope"></i> Sent Message 3</h4>
                </div>
            </div>
            <!-- END dashboard main content-->
            <!-- START dashboard sidebar-->
            <aside class="col-xl-3">
                <!-- START loader widget-->
                <div class="card card-default">
                    <div class="card-body">
                        <a class="text-muted float-right" href="#">
                            <em class="fa fa-arrow-right"></em>
                        </a>
                        <div class="text-info">Average Monthly Uploads</div>
                        <div class="text-center py-4">
                            <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)" data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                                <span>70%</span>
                            </div>
                        </div>
                        <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">
                            <em class="fa fa-upload fa-fw"></em>
                            <span>This Month</span>
                            <span class="text-dark">1000 Gb</span>
                        </p>
                    </div>
                </div>
                <!-- END loader widget-->
                <!-- START messages and activity-->
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Latest activities</div>
                    </div>
                    <!-- START list group-->
                    <div class="list-group">
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-purple"></em>
                                    <em class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse text-white"></em>
                                 </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-purple m-0" href="#">NEW FILE</a>
                                    </p>
                                    <p class="m-0">
                                        <small>
                                       <a href="#">Bootstrap.xls</a>
                                    </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">15m</small>
                                </div>
                            </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-info"></em>
                                    <em class="far fa-file-alt fa-stack-1x fa-inverse text-white"></em>
                                 </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-info m-0" href="#">NEW DOCUMENT</a>
                                    </p>
                                    <p class="m-0">
                                        <small>
                                       <a href="#">Bootstrap.doc</a>
                                    </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">2h</small>
                                </div>
                            </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-danger"></em>
                                    <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                                 </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-danger m-0" href="#">BROADCAST</a>
                                    </p>
                                    <p class="m-0">
                                        <a href="#">Read</a>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">5h</small>
                                </div>
                            </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-success"></em>
                                    <em class="far fa-clock fa-stack-1x fa-inverse text-white"></em>
                                 </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-success m-0" href="#">NEW MEETING</a>
                                    </p>
                                    <p class="m-0">
                                        <small>On
                                       <em>10/12/2015 09:00 am</em>
                                    </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">15h</small>
                                </div>
                            </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-warning"></em>
                                    <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                                 </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-warning m-0" href="#">TASKS COMPLETION</a>
                                    </p>
                                    <div class="progress progress-xs m-0">
                                        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
                                            <span class="sr-only">22% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">1w</small>
                                </div>
                            </div>
                        </div>
                        <!-- END list group item-->
                    </div>
                    <!-- END list group-->
                    <!-- START card footer-->
                    <div class="card-footer">
                        <a class="text-sm" href="#">Load more</a>
                    </div>
                    <!-- END card-footer-->
                </div>
                <!-- END messages and activity-->
            </aside>
            <!-- END dashboard sidebar-->
        </div>
    </div> 
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {

      $.ajax({
         url: '/get-rating/',
         type: 'GET',

         beforeSend: function() {
            $('.card-demo').addClass('whirl');
         },

         success: function(data) {
            response = JSON.parse(data);
            console.log('ressssssssssssss', response);
            var fb_rating_full = response['fb_rating_full']
            var fb_rating_half = response['fb_rating_half']
            var fb_rating_zero = response['fb_rating_zero']
            var fb_empty_stars = response['fb_empty_stars']

            var fb_html = $('.facebook-rating');

            if(fb_rating_full>0){
               for(i=1;i<=fb_rating_full;i++){
                  fb_html.append('<i class="star full-star"></i>');
               }
            }
            else{
               for(i=1;i<=5;i++){
                  fb_html.append('<i class="star emty-star"></i>');
               }               
            }

            if(fb_rating_half=='half'){
               fb_html.append('<i class="star half-star"></i>');
            }
            else if(fb_rating_half=='threefourth'){
               fb_html.append('<i class="star three-4"></i>');
            }
            else if(fb_rating_half=='quarter'){
               fb_html.append('<i class="star quater-star"></i>')
            }
            else if(fb_rating_half=='empty'){
               fb_html.append('<i class="star emty-star"></i>')
            }

            if(fb_empty_stars>0){
               for(i=1;i<=fb_empty_stars;i++){
                  fb_html.append('<i class="star emty-star"></i>');
               }               
            }

            var yelp_rating_full = response['yelp_rating_full']
            var yelp_rating_half = response['yelp_rating_half']
            var yelp_rating_zero = response['yelp_rating_zero']
            var yelp_empty_stars = response['yelp_empty_stars']
            var yelp_html = $('.yelp-rating');

            if(yelp_rating_full>0){
               for(i=1;i<=yelp_rating_full;i++){
                  yelp_html.append('<i class="star full-star"></i>');
               }
            }
            else{
               for(i=1;i<=5;i++){
                  yelp_html.append('<i class="star emty-star"></i>');
               }               
            }

            if(yelp_rating_half=='half'){
               yelp_html.append('<i class="star half-star"></i>');
            }
            else if(yelp_rating_half=='threefourth'){
               yelp_html.append('<i class="star three-4"></i>');
            }
            else if(yelp_rating_half=='quarter'){
               yelp_html.append('<i class="star quater-star"></i>')
            }
            else if(yelp_rating_half=='empty'){
               yelp_html.append('<i class="star emty-star"></i>')
            }

            if(yelp_empty_stars>0){
               for(i=1;i<=yelp_empty_stars;i++){
                  yelp_html.append('<i class="star emty-star"></i>');
               }               
            }
            $('.card-demo').removeClass('whirl');
         },
         error: function() {

         }
      });
   });
</script>
{% endblock %}