{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-container">
<!-- Page content-->
<div class="content-wrapper">
    <div class="content-heading">
        <div>Edit Links
            <small data-localize="dashboard.WELCOME"></small>
        </div>
        <!-- START Language list-->
        <div class="ml-auto">
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
                <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                    <a class="dropdown-item" href="#" data-set-lang="en">English</a>
                    <a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
                </div>
            </div>
        </div>
        <!-- END Language list-->
    </div>

    <div class="row">
        <div class="col-md-8 ">
            <h3 style="display: inline-block">Edit Links</h3>
            <a href="{% url 'sms_app:settings' %}">Back</a>
            <form action="{% url 'sms_app:edit_links' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="mobile">Google</label>
                    <input type="text" class="form-control" name="google" id="google" value="{{google}}">
                </div>
                <div class="form-group">
                    <label for="message">Facebook</label>
                    <input type="text" class="form-control" name="facebook" id="facebook" value="{{facebook}}">
                </div>
                <div class="form-group">
                    <label for="message">Yelp</label>
                    <input type="text" class="form-control" name="yelp" id="yelp" value="{{yelp}}">
                </div>
                <button class="btn btn-primary" type="submit">Save Links</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
