{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>Edit SMS
                <small data-localize="dashboard.WELCOME"></small>
            </div>
            <!-- START Language list-->
            <div class="ml-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
                    <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                        <a class="dropdown-item" href="#" data-set-lang="en">English</a>
                        <a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
                    </div>
                </div>
            </div>
            <!-- END Language list-->
        </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Edit SMS</h3>
            <form action="{% url 'sms_app:edit_sms' handle %}" method="post">
                {% csrf_token %}
                {% if handle == 1 %}
                <div class="form-group">
                    <label for="mobile">Send in (defaults to immidiately)</label>
                    <input type="text" class="form-control" name="time" id="time" value="{{sendin}}" readonly>
                </div>
                {% else %}
                <div class="form-group">
                        <label for="mobile">Send in (defaults to immidiately)</label>
                        <input type="text" class="form-control" name="time" id="time" value="{{sendin}}">
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="message">Message</label>
                    {% if msg is None %}
                    <textarea name="message" id="message" class="form-control" cols="30" rows="10" required
                                          placeholder="message"></textarea>
                    {% else %}
                    <textarea name="message" id="message" class="form-control" cols="30" rows="10" 
                    required>{{msg}}</textarea>
                    {% endif %}
                </div>
                <button class="btn btn-primary" type="submit">Save Message</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
