{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>Send SMS
                <small data-localize="dashboard.WELCOME"></small>
            </div>
            <!-- START Language list-->
            <div class="ml-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
                    <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                        <a class="dropdown-item" href="#" data-set-lang="en">English</a>
                        <a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
                    </div>
                </div>
            </div>
            <!-- END Language list-->
        </div>
        <div class="row">
            <div class="col-md-8">
            <h3>Send SMS</h3>
                <form action="" method="post">
                {% csrf_token %}
                    <input type="hidden" name="message_number" value="1">
                    <div class="form-group mobile_number">
                        <label for="mobile">Mobile Number</label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile Number"
                        required>
                    </div>
                    <button class="btn btn-primary" type="submit">Send Message</button>
                    <h4>Message 1</h4>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <a href="{% url 'sms_app:edit_sms' 1 %}">Edit</a>
                        <a href=""></a>
                        <textarea name="first_message" id="first_message" class="form-control" cols="30" rows="10" 
                        readonly>{{first_msg}}</textarea>
                    </div>
                    <h4>Message 2</h4>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <a href="{% url 'sms_app:edit_sms' 2 %}">Edit</a>
                        <a href=""></a>
                        <textarea name="second_message" id="second_message" class="form-control" cols="30" rows="10" 
                        readonly>{{second_msg}}</textarea>
                    </div>
                    <h4>Message 3</h4>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <a href="{% url 'sms_app:edit_sms' 3 %}">Edit</a>
                        <a href=""></a>
                        <textarea name="third_message" id="third_message" class="form-control" cols="30" rows="10" 
                        readonly>{{third_msg}}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
