{% extends 'base-new.html' %}
{% load static %}
{% block content%}
<style type="text/css">
  
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.btn-signup {padding: 10px;
    width: auto;
    width: 30%;
    font-weight: 600;}
</style>
<script src="https://js.stripe.com/v3/"></script>
<div class="wrapper">
    <div class="block-center mt-4 col-sm-5">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                <img class="block-center" src="{% static 'img/reviewist_main-logo.png' %}" width="50%" alt="Image">
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">SIGNUP TO GET INSTANT ACCESS.</p>
                <form id="payment-form" method="POST" action="{% url 'sms_app:subscribe' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="text-muted" for="addressline1">Address Line 1</label>
                                <div class="input-group with-focus">
                                    <textarea class="form-control border-right-0" name="address_line1" id="address-line1" type="text" placeholder="Address Line 1" required></textarea>                      
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-muted" for="city">City</label>
                                <div class="input-group with-focus">
                                    <input class="form-control border-right-0" id="address-city" name="city" type="text" placeholder="City" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-muted" for="country">Country</label>
                                <div class="input-group with-focus">
                                    <input class="form-control border-right-0" id="address-country" name="country" type="text" placeholder="Country" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="text-muted" for="addressline2">Address Line 2</label>
                                <div class="input-group with-focus">
                                    <textarea class="form-control border-right-0" name="address_line2" id="address-line2" type="text" placeholder="Address Line 2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-muted" for="state">State</label>
                                <div class="input-group with-focus">
                                    <input class="form-control border-right-0" name="state" id="address-state" type="text" placeholder="State" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-muted" for="zipcode">Zipcode</label>
                                <div class="input-group with-focus">
                                    <input class="form-control border-right-0" id="address-zip" name="zip_code" type="zipcode" placeholder="Zip Code" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="text-muted" for="card-details">Credit or debit card</label>
                            <div id="card-element">
                              <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    </div>
                  <div align="center">  <button class="btn btn-block btn-primary mt-3 btn-signup">Subscribe</button></div>
                </form>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>


<script type="text/javascript">
  
// Create a Stripe client.
var stripe = Stripe('pk_test_nC5yhLMv7EaceuvMSckFCr4q');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {hidePostalCode: true,style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
        $.ajax({
          type: "POST",
          url: '/subscribe/',
          data: $('#payment-form').serialize()+'&&stripeToken='+result.token.id,
          success: function(){

            window.location.reload()
          },
        });
    }
  });
});

</script>
{% endblock %}